
body{
    background-color: rgb(194, 194, 194);
    color: black;
    font-family: "Montserrat", sans-serif;
font-weight: 400;
font-size: 14px;
line-height: 129%;
letter-spacing: -0.02em;
}
.flex{
    display: flex;
}
.mob_display{
    @media screen and (max-width:768px) {
        display: none;
    }
}
.iframe{
    max-width: 100%;
}
a {
    
    cursor: pointer;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 1;
  visibility: visible;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}