
body{
    background-color: rgb(243, 243, 243);
    color: black;
    font-family: "Montserrat", sans-serif;
font-weight: 400;
font-size: 14px;
line-height: 129%;
letter-spacing: -0.02em;
}
.flex{
    display: flex;
}
.mob_display{
    @media screen and (max-width:1200px) {
        display: none;
    }
}
.iframe{
    max-width: 100%;
}
a {
    
    cursor: pointer;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 1;
  visibility: visible;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
%input{
    border: 1.50px solid rgba(17, 17, 17, 0.05);
        border-radius: 8px;
        padding: 13px 18px;
        width: 263px;
        height: 45px;

        @media screen and (min-width: 768px) {
            border-radius: 13px;
            padding: 22px 24px;
            width: 513px;
            height: 66px;
        }
}
%transition{
    transition-property: all;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}