.container{
    width: 320px;
    padding: 0 15px;
    margin: 0 auto;
    outline: 1px dashed black;
    @media screen and (min-width: 375px) {
          min-width: 375px;
    }
    @media screen and (min-width: 768px) {
        min-width: 768px;
      }
    @media screen and (min-width: 1200px) {
        min-width: 1200px;
    }
  }