* {
  margin: 0;
  padding: 0;
}

*:focus {
  outline: none;
}

body {
  scroll-behavior: smooth;
}

img {
  width: 100%;
  height: auto;
  line-height: 0;
  display: block;
}

a {
  text-decoration-line: none;
}

ul {
  list-style-type: none;
}

button {
  cursor: pointer;
  display: block;
  border: none;
  background-color: transparent;
}

.container {
  width: 320px;
  padding: 0 15px;
  margin: 0 auto;
  outline: 1px dashed black;
}
@media screen and (min-width: 375px) {
  .container {
    min-width: 375px;
    outline: 1px dashed red;
  }
}
@media screen and (min-width: 768px) {
  .container {
    min-width: 768px;
    outline: 1px dashed blue;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    min-width: 1200px;
    outline: 1px dashed green;
  }
}

.advantages {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #111111;
}

.advantages__list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 20px;
}

.advantages__item {
  max-width: 308px;
  color: rgba(255, 255, 255, 0.7);
}

.advantages-item__box {
  width: 62px;
  height: 62px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 22px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
}

.advantages-item__title {
  margin-bottom: 18px;
  font-weight: 600;
  font-size: 18px;
  color: white;
}

.advantages-item__text {
  line-height: 1.5;
}

.icon__svg, .icon-svg__price, .icon-svg__production {
  fill: #fd9222;
}

@media screen and (min-width: 768px) {
  .advantages {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .advantages__list {
    -moz-column-gap: 32px;
         column-gap: 32px;
    row-gap: 28px;
  }
}
@media screen and (min-width: 1200px) {
  .advantages__list {
    max-width: 1100px;
    margin: 0 auto;
    gap: 70px;
  }
  .advantages__item {
    position: relative;
  }
  .advantages__item:not(:last-child) {
    max-width: 326px;
  }
  .advantages__item:not(:last-child):after {
    content: "";
    position: absolute;
    display: block;
    width: 124px;
    height: 0px;
    top: 110px;
    right: -90px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    transform: rotate(90deg);
  }
}
.taste {
  padding-top: 72px;
  padding-bottom: 72px;
}
@media (min-width: 768px) {
  .taste {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
@media (min-width: 1200px) {
  .taste {
    padding-top: 128px;
    padding-bottom: 128px;
  }
}
.taste-title {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
  color: #111;
  margin-bottom: 24px;
}
@media (min-width: 768px) {
  .taste-title {
    font-size: 24px;
    line-height: 117%;
    margin-bottom: 28px;
  }
}
.taste-title-designe {
  color: #FD9222;
}
.taste-text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.02em;
  text-align: center;
  color: #111;
  margin-bottom: 32px;
}
@media (min-width: 768px) {
  .taste-text {
    margin-bottom: 50px;
  }
}
.taste-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
@media (min-width: 1200px) {
  .taste-list {
    flex-wrap: nowrap;
  }
}
.taste-list-item {
  width: 335px;
  border-radius: 15px;
  padding-top: 28px;
  padding-bottom: 28px;
}
.taste-list-item.border {
  border: 1px solid #FD9222;
  width: 335px;
}
.taste-list-item:nth-child(1) {
  background-color: #FD9222;
}
.taste-list-item:nth-child(3) {
  background-color: #1E1823;
}
.taste-list-item-image {
  width: 224px;
  height: 171px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
}
.taste-list-item-text {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #fff;
  margin-left: 28px;
}
.taste-list-item-text.text {
  color: black;
}

.products {
  padding-top: 41px;
}

.products-title {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 24px;
  line-height: 117%;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
  color: #111;
  margin-bottom: 50px;
}

.products-title-designe {
  color: #FD9222;
}

.swiper.productsSwiper {
  height: 397px;
}

.products .swiper-slide {
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 15px;
  width: 335px;
  height: 364px;
}

.products-swiper-slide-img {
  text-align: center;
}

.products-swiper-slide-title {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 18px;
  line-height: 133%;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #111;
  margin-bottom: 2px;
  text-align: center;
}

.products-swiper-slide-text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  line-height: 117%;
  letter-spacing: -0.02em;
  color: rgba(17, 17, 17, 0.7);
  text-align: center;
  margin-bottom: 18px;
}

.products-swiper-slide-btn {
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 100px;
  padding: 8px 20px;
  background-color: #fafafa;
  margin-left: auto;
  margin-right: auto;
}

.explore {
  background-image: url(../img/explore/background_mobile_1x.jpg);
  margin-bottom: 15px;
  padding: 20px;
  top: 20px;
}

.explore-title {
  color: #ffffff;
  font-size: 20px;
}

.explore-text {
  margin-top: 15px;
  color: #ffffff;
  font-size: 14px;
}

.explore-subscribe-button {
  margin: 0 auto;
  display: block;
  margin-top: 37px;
  color: #ffffff;
  background-color: #FD9222;
  width: 128px;
  height: 41px;
  bottom: 12px;
  border-radius: 19px;
  gap: 14px;
}

.footer {
  margin: 15px;
  background-color: #1E1823;
  padding: 20px;
}

.footer-menu {
  color: white;
}

.footer-contacts {
  color: white;
  font-size: 14px;
}

.footer-title {
  color: white;
}

.footer-contacts-info {
  color: white;
}

.footer-social-nets {
  margin: 10px;
  width: 58px;
  height: 26px;
  margin-left: auto;
  fill: white;
}

.footer-social-instagram {
  width: 58px;
  height: 26px;
}

.footer-social-twitter {
  width: 58px;
  height: 26px;
}

.footer-info-li {
  margin-bottom: 10px;
}/*# sourceMappingURL=main.css.map */