<section class="buy">
    <div class="container">
        <button class="buy_close_button"><svg class="buy_svg"></svg></button>
        <h2 class="headline"><span class="focus_span">bUY</span> nOW</h2>
        <ul class="buy_img-list">
            <li class="buy_item">
                <div class="buy_div">
                    <img class="buy_img" src="./img/buy_now_modal/tablet-descktop/first_1x.png">
                    <button class="buy_button">100 g</button>
                </div>
            </li>
            <li class="buy_item">
                <div class="buy_div">
                    <img class="buy_img" src="./img/buy_now_modal/tablet-descktop/second_1x.png">
                    <button class="buy_button">200 g</button>
                </div>
            </li>
            <li class="buy_item">
                <div class="buy_div">
                    <img class="buy_img" src="./img/buy_now_modal/tablet-descktop/third_1x.png">
                    <button class="buy_button">300 g</button>
                </div>
            </li>
        </ul>
        <form class="buy_form">
            <div class="form_special_div">
            <div class="form_div">
            <label class="buy_label">Personal information</label>
            <input type="name" name="user_name" class="buy_sm_input">
        </div>
            <input type="name" name="user_surname" class="buy_sm_input">
        </div>
            <div class="form_div">
            <label class="buy_label">Email</label>
            <input type="email" name="user_email" class="buy_input">
        </div>
            <div class="form_div">
            <label class="buy_label">Phone number</label>
            <input type="phone" name="user_phone" class="buy_input">
        </div>
            <div class="form_div">
            <label class="buy_label">Card number</label>
            <input type="number" name="user_card_number" class="buy_input">
        </div>
            <div class="form_div">
            <label class="buy_label">Comment</label>
            <textarea class="buy_textarea"></textarea>
        </div>
            <button class="buy_form_button">Submit</button>
        </form>
    </div>
</section>