<footer class="footer">
    <div class="container">
        <nav class="footer-navigation">
        <h1>Chocolate a delicious cure for a bad day</h1>
        <div>
        <p class="footer-title-contacts">Contact us </p>
        <ul class="footer-contacts">
                <li>
                    <a class="footer-contacts-list"    href="tel:+380 (68) 443-94-26">+380 (68) 443-94-26</a>

                </li>
                <li>
                <a class="footer-email-list" href="mailto:simplychoc@gmail.com">simplychoc@gmail.com</a>
                
                </li>
            </ul>
            </div>


        <ul class="footer-social nets">
            <li>
                <svg  class="footer-social-instagram">
                    <use href="./img/symbol-defs.svg#icon-instagram-1"></use>
                </svg>
            </li>
            <li>
                <svg class="footer-social-twitter">
                    <use href="./img/symbol-defs.svg#icon-twitter"></use>
                </svg>
            </li>
            
        </ul>
        <ul class="footer-menu">
            <li>
                <a>Home</a>
            </li>
            <li>
                <a>How it’s made?</a>

            </li>
            <li>
                <a>Our products</a>

            </li>
            <li>
                <a>Top sellers</a>

            </li>
            <li>
                <a>Chocolate is loved</a>

            </li>


        </ul>
        
        </nav>
        
    </div>
    
    
</footer>