<header class="header">
    <div class="container flex">
        <nav class="header-nav">
            <a class="header-logotype" href="./#">
                <span class="logotype-text">
                    SIMPLY
                </span>
                <h1 class="text-chocolate">
                    CHOCOLATE
                </h1>
                <svg class="chocolate-simple">
                    <use class="chocolate-icon" href="/img/symbol-defs.svg#icon-chocolate"></use>
                </svg>
            </a>
            <ul class="header-nav-list">
                <li class="header-nav-items">
                    <a class="nav-links" href="#">
                        Home
                    </a>
                </li>
                <li class="header-nav-items">
                    <a class="nav-links" href="#">
                        How it's made?
                    </a>
                </li>
                <li class="header-nav-items">
                    <a class="nav-links" href="#">
                        Our products
                    </a>
                </li>
                <li class="header-nav-items">
                    <a class="nav-links" href="#">
                        Top sellers
                    </a>
                </li>
                <li class="header-nav-items">
                    <a class="nav-links" href="#">
                        Chocolate is loved
                    </a>
                </li>
            </ul>
        </nav>
        <ul class="contacts">
            <li class="contacts-links">
                <a class="social-contacts" href="https://www.instagram.com/">
                    <svg class="socials-networks" width="20" height="20">
                        <use class="socials-instagram" href="./img/symbol-defs.svg#icon-instagram-1"></use>
                    </svg>
                </a>
            </li>
            <li class="contacts-links">
                <a class="social-contacts" href="https://x.com/?lang=uk">
                    <svg class="social-networks" width="20" height="20">
                        <use class="social-twitter" href="./img/symbol-defs.svg#icon-twitter"></use>
                    </svg>
                </a>
            </li>
        </ul>
    </div>
</header>