<section class="hero">
    <div class="container">
            <div class="hero-container-background">
                <div class="chocolate-text-button">
            <h2 class="chocolate-tittle">
                Treat yourself or a loved one to 
                our finest ingredients for a moment 
                of pure delight!
            </h2>
            <div class="chocolate-button-scroll-down">
            <ul class="chocolate-button">
                <li class="buttons">
                    <button type="button" class="button-hero-chocolate-one">
                        Buy now
                    </button>
                </li>
                <li class="buttons-two">
                    <button type="button" class="button-hero-chocolate-two">
                        How it's made?
                    </button>
                </li>
            </ul>
            <a class="scroll-button" href="#footer">
                scroll down
                <span class="scroll-container">
                <svg class="scroll-icon">
                    <use class="small-icon-down" 
                    href="./img/symbol-defs.svg#icon-fi-rr-angle-small-left"></use>
                </svg>
                </span>
            </a>
            </div>
            </div>
            </div>
    </div>
</section>