<section class="hero">
    <div class="container">
        <div class="hero-background">
            <img class="hero-image" 
            srcset="./img/hero/mobile/mobile-hero-background@1x.jpg 145w,
            ./img/hero/mobile/mobile-hero-background@2x.jpg 290w,
            ./img/hero/tablet/tablet-hero-background@1x.jpg 390w,
            ./img/hero/tablet/tablet-hero-background@2x.jpg 780w" 
            sizes="(min-width: 768px) 390px, (min-width: 320px) 145px, 100vw"
            src="./img/hero/desktop/hero-background@1x.jpg"
            alt="chocolate-img">
            <h2 class="chocolate-tittle">
                Treat yourself or a loved one to 
                our finest ingredients for a moment 
                of pure delight!
            </h2>
            <ul class="chocolate-button">
                <li class="buttons">
                    <button type="button" class="button-hero-chocolate-one">
                        Buy now
                    </button>
                </li>
                <li class="buttons-two">
                    <button type="button" class="button-hero-chocolate-two">
                        How it's made?
                    </button>
                </li>
            </ul>
            <a class="scroll-button" href="#">
                scroll down
                <svg class="scroll-icon">
                    <use href="./img/symbol-defs.svg#icon-x"></use>
                </svg>
            </a>
        </div>
    </div>
</section>