<section class="leave_review">
    <div class="container">
        <h2 class="leave_review_title">
            <span class="focus_span">
                chocolate
            </span>
            is loved
        </h2>
        <ul class="swiper">
            <li class="swiper_card">
                <img src="" alt="" class="swiper_img">
                <h3 class="swiper_headline">
                    Victoria Dobrzhanska
                </h3>
                <p class="swiper_description">
                    I love this chocolate bar. Perfect combination of light crispy wafer, covered in a thin layer chocolate.
                </p>
            </li>
            <li class="swiper_card">
                <img src="" alt="" class="swiper_img">
                <h3 class="swiper_headline">
                    Nazar Babenko
                </h3>
                <p class="swiper_description">
                    This chocolate confection is a delight! A delight! The wafer is light and crisp, the hazelnut cream is smooth, and the chocolate is good.
                </p>
            </li>
            <li class="swiper_card">
                <img src="" alt="" class="swiper_img">
                <h3 class="swiper_headline">
                    Olena Kampusch
                </h3>
                <p class="swiper_description">
                    Chocolate is a family favourite treat. Love the delicious smooth chocolate and the creaminess inside. The wafer is soft but crunchy.
                </p>
            </li>
        </ul>
    </div>
</section>