<section class="leave_review">
    <div class="container">
        <h2 class="leave_review_title">
            <span class="">
                chocolate
            </span>
            is loved
        </h2>
        <ul class="">
            <li class="">
                <img src="" alt="" class="">
                <h3 class="">
                    Victoria Dobrzhanska
                </h3>
                <p class="">
                    I love this chocolate bar. Perfect combination of light crispy wafer, covered in a thin layer chocolate.
                </p>
            </li>
        </ul>
    </div>
</section>