<section class="leave_review">
    <div class="container">
        <div class="leave_review_div">
            <h2 class="headline">
                <span class="focus_span">
                    chocolate
                </span>
                is loved
            </h2>
            <div class="swiper reviewSwiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="swiper_slide">
                            <img src="./img/leave_a_rewiev/victoria_1x.jpg" alt="women_with_orange_hair"
                                class="swiper_img">
                            <div class="swiper_text_div">
                                <h3 class="swiper_headline">
                                    Victoria Dobrzhanska
                                </h3>
                                <p class="swiper_description">
                                    I love this chocolate bar. Perfect combination of light crispy wafer, covered in a
                                    thin layer
                                    chocolate.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="swiper_slide">
                            <img src="./img/leave_a_rewiev/babenko_1x.jpg" alt="women_with_orange_hair"
                                class="swiper_img">
                            <div class="swiper_text_div">
                                <h3 class="swiper_headline">
                                    Victoria Dobrzhanska
                                </h3>
                                <p class="swiper_description">
                                    I love this chocolate bar. Perfect combination of light crispy wafer, covered in a
                                    thin layer
                                    chocolate.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="swiper_slide">
                            <img src="./img/leave_a_rewiev/victoria_1x.jpg" alt="women_with_orange_hair"
                                class="swiper_img">
                            <div class="swiper_text_div">
                                <h3 class="swiper_headline">
                                    Victoria Dobrzhanska
                                </h3>
                                <p class="swiper_description">
                                    I love this chocolate bar. Perfect combination of light crispy wafer, covered in a
                                    thin layer
                                    chocolate.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="swiper_slide">
                            <img src="./img/leave_a_rewiev/victoria_1x.jpg" alt="women_with_orange_hair"
                                class="swiper_img">
                            <div class="swiper_text_div">
                                <h3 class="swiper_headline">
                                    Victoria Dobrzhanska
                                </h3>
                                <p class="swiper_description">
                                    I love this chocolate bar. Perfect combination of light crispy wafer, covered in a
                                    thin layer
                                    chocolate.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="swiper_slide">
                            <img src="./img/leave_a_rewiev/victoria_1x.jpg" alt="women_with_orange_hair"
                                class="swiper_img">
                            <div class="swiper_text_div">
                                <h3 class="swiper_headline">
                                    Victoria Dobrzhanska
                                </h3>
                                <p class="swiper_description">
                                    I love this chocolate bar. Perfect combination of light crispy wafer, covered in a
                                    thin layer
                                    chocolate.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="swiper_slide">
                            <img src="./img/leave_a_rewiev/victoria_1x.jpg" alt="women_with_orange_hair"
                                class="swiper_img">
                            <div class="swiper_text_div">
                                <h3 class="swiper_headline">
                                    Victoria Dobrzhanska
                                </h3>
                                <p class="swiper_description">
                                    I love this chocolate bar. Perfect combination of light crispy wafer, covered in a
                                    thin layer
                                    chocolate.
                                </p>
                            </div>
                        </div>
                    </div>
                    ...
                </div>
                <!-- If we need pagination -->
                <div class="swiper-pagination"></div>
            </div>
            <button class="leave_review_button">
                Leave a review
            </button>
        </div>
    </div>
</section>