<section class="made">
    <div class="container">
      <h2 id="made" class="made-title">HOW IT’S <span class="made-title-designe">MADE?</span></h2>
      <div class="made-box">
      <div class="made-box-video">
        <iframe
          width="560"
          height="315"
          src="https://www.youtube.com/embed/qHKVVZ3eros?si=KTbJkhHAq0DRdpw0"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          referrerpolicy="strict-origin-when-cross-origin"
          allowfullscreen
          class="made-video"
        ></iframe>
      </div>
      <div class="made-box-item">
        <h3 class="made-box-title">
          Try our chocolates today and discover the perfect balance of flavor
        </h3>
        <ul class="made-list">
          <li class="made-list-item">
            <p class="made-text">
              Heat the milk in a saucepan without bringing it to a boil. Add
              sugar and cocoa powder.
            </p>
          </li>
          <li class="made-list-item">
            <p class="made-text">
              At the same time, prepare a water bath. Melt the butter on it.
            </p>
          </li>
          <li class="made-list-item">
            <p class="made-text">
              "Mix" the milk mixture and already liquid butter. Mix thoroughly
              with a silicone spatula so that the mass becomes uniform and
              silky.
            </p>
          </li>
          <li class="made-list-item">
            <p class="made-text">
              Heat the mixture over low heat, letting it barely boil.
            </p>
          </li>
          <li class="made-list-item">
            <p class="made-text">
              Pour the chocolate into special containers (can be replaced with
              ice molds). Allow to cool and harden.
            </p>
          </li>
        </ul>
      </div>
    </div>
    </div>
  </section>