<section class="products">
  <div class="container">
    <h2 class="products-title">OUR <span class="products-title-designe">PRODUCTS</span></h2>
    <div class="swiper productsSwiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img src="./img/products/desktop/products_orange_1x.png" alt="" class="products-swiper-slide-img">
          <h3 class="products-swiper-slide-title">
            ORANGE 
          </h3>
          <p class="products-swiper-slide-text">
            Dark chocolate
          </p>
          <button class="products-swiper-slide-btn">
            45 UAH
          </button>
        </div>

        <div class="swiper-slide">
          <img src="../img/products/desktop/products_apple_1x.png" alt="" class="products-swiper-slide-img">
          <h3 class="products-swiper-slide-title">
            APPLE&CRANBERRY 
          </h3>
          <p class="products-swiper-slide-text">
            Milk chocolate
          </p>
          <button class="products-swiper-slide-btn">
            50 UAH
          </button>
        </div>

         <div class="swiper-slide">
          <img src="../img/products/desktop/products_lime_1x.png" alt="" class="products-swiper-slide-img">
          <h3 class="products-swiper-slide-title">
            LIME&SEA SALT 
          </h3>
          <p class="products-swiper-slide-text">
            Dark chocolate
          </p>
          <button class="products-swiper-slide-btn">
            66 UAH
          </button>
        </div>

        <div class="swiper-slide">
          <img src="../img/products/desktop/products_pineapple_1x.png" alt="" class="products-swiper-slide-img">
          <h3 class="products-swiper-slide-title">
            PINEAPPLE
          </h3>
          <p class="products-swiper-slide-text">
            Dark chocolate
          </p>
          <button class="products-swiper-slide-btn">
            54 UAH
          </button>
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
