<div class="backdrop is-hidden" data-review-modal>
<div class="review_modal">
    <button data-review-modal-close><svg class="review_modal_svg"><use href="./img/symbol-defs.svg#icon-btn-close"></use></svg></button>
<h2 class="headline margin">LEAVE A REVIEW ABOUT <span class="focus_span">OUR CHOCOLATE</span></h2>
<form class="review_modal_form">
    <input class="review_modal_input"  type="text" name="user_name" placeholder="Name">
    <input class="review_modal_input" type="email" name="user_email" placeholder="Email">
    <input class="review_modal_input review_modal_input_svg"  type="tel" name="user_phone" placeholder="Phone number">
    <textarea class="review_modal_textarea" placeholder="Enter text"></textarea>
    <button type="submit" class="review_modal_button" data-thank-you-modal-open>Send</button>
</form>
</div>
</div>