<div class="backdrop">
    <div class="modal-window">
        <div class="modal-window-picture">
            <picture>
                <!-- desktop -->
                <source media="(min-width: 1200px)" srcset="./img/subcribe-modal/desktop/subscribe-image-desktop@1x.jpg 1x,
                ./img/subcribe-modal/desktop/subscribe-image-desktop@2x.jpg 2x">
                <!-- tablet -->
                <source media="(min-width: 768px)" srcset="./img/subcribe-modal/desktop/subscribe-image-tablet@1x.jpg 1x,
                ./img/subcribe-modal/desktop/subscribe-image-tablet@1x.jpg 2x">
                <!-- phone -->
                <source media="(max-width: 767px)" srcset="./img/subcribe-modal/desktop/subscribe-image-mobile@1x.jpg 1x,
                ./img/subcribe-modal/desktop/subscribe-image-mobile@2x.jpg 2x">
                <img src="./img/subcribe-modal/desktop/subscribe-image-desktop@1x.jpg" alt="chocolate-form"
                width="538" height="196">
            </picture>
        </div>
        <button class="modal-window-button-close">
            X
        </button>
        <h2 class="modal-window-tittle">
            Explore our 
            new chocolate first!
        </h2>
        <form class="modal-window-form">
            <input class="modal-window-email" placeholder="Enter your email" type="email" name="email-user">
            <button class="modal-window-close" type="submit">
                Submit
            </button>
        </form>
    </div>
</div>