<section class="taste">
  <div class="container">
    <h2 class="taste-title">
      IT ALL ADDS UP TO ONE EXCEPTIONAL
      <span class="taste-title-designe">TASTE</span> SENSATION
    </h2>
    <p class="taste-text">
      At Simply Chocolate, we believe that the secret to exceptional chocolate
      is in the details. From the sourcing of the finest ingredients to the
      careful crafting of each individual piece, every step of our process adds
      up to one exceptional taste sensation.
    </p>
    <ul class="taste-list">
      <li class="taste-list-item">
        <div class="thumb">
          <img
            src="./img/taste/desktop/taste-chocolate-1x.png"
            alt=""
            class="taste-list-item-image"
          />
          <p class="taste-list-item-text">MILK CHOCOLATE</p>
          <div class="overlay">
            <h3 class="overlay-title">MILK CHOCOLATE</h3>
            <div class="overlay-box">
              <button class="overlay-btn orange">chocolate</button>
              <button class="overlay-btn">the benefits</button>
            </div>
            <p class="overlay-text">
              Milk chocolate is a solid chocolate confectionery containing
              cocoa, sugar and milk. It is the most consumed type of chocolate.
              Chocolate was originally sold and consumed as a beverage in
              pre-Columbian times.
            </p>
          </div>
        </div>
      </li>
      <li class="taste-list-item border">
        <div class="thumb">
          <img
            src="./img/taste/desktop/taste-milk-1x.png"
            alt=""
            class="taste-list-item-image"
          />
          <p class="taste-list-item-text text">MILK</p>
          <div class="overlay">
            <h3 class="overlay-title">MILK</h3>
            <div class="overlay-box">
              <button class="overlay-btn orange">milk</button>
              <button class="overlay-btn">the benefits</button>
            </div>
            <p class="overlay-text">
              Milk is a white liquid food produced by the mammary glands of
              mammals. It is the primary source of nutrition for young mammals
              (including breastfed human infants) before they are able to digest
              solid food.
            </p>
          </div>
        </div>
      </li>
      <li class="taste-list-item">
        <div class="thumb">
          <img
            src="./img/taste/desktop/taste-nuts-1x.png"
            alt=""
            class="taste-list-item-image"
          />
          <p class="taste-list-item-text">NUTS</p>
          <div class="overlay">
            <h3 class="overlay-title">NUTS</h3>
            <div class="overlay-box">
              <button class="overlay-btn orange">nuts</button>
              <button class="overlay-btn">the benefits</button>
            </div>
            <p class="overlay-text">
              Almonds, pistachios, and walnuts are some types of nuts that
              contain healthy nutrients. When eaten as part of a nutrient-dense
              diet, these 9 nuts may offer benefits such as reducing your risk
              of heart disease.
            </p>
          </div>
        </div>
      </li>
      <li class="taste-list-item border">
        <div class="thumb">
          <img
            src="./img/taste/desktop/taste-cacao-1x.png"
            alt=""
            class="taste-list-item-image"
          />
          <p class="taste-list-item-text text">SEMI - SWEET CHOCOLATE</p>
          <div class="overlay">
            <h3 class="overlay-title">SEMI-SWEET-CHOCOLATE</h3>
            <div class="overlay-box">
              <button class="overlay-btn orange">sweet chocolate</button>
              <button class="overlay-btn">the benefits</button>
            </div>
            <p class="overlay-text">
              Semi-sweet chocolate has a cocoa solid content of 35 to 65%. One
              of the best ways to gain an understanding of this type of
              chocolate is to compare it to a different type of chocolate.
            </p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
