<section class="taste">
    <div class="container">
      <h2 class="taste-title">
        IT ALL ADDS UP TO ONE  EXCEPTIONAL <span class="taste-title-designe">TASTE</span> SENSATION
      </h2>
      <p class="taste-text">
        At Simply Chocolate, we believe that the secret to exceptional
        chocolate is in the details. From the sourcing of the finest
        ingredients to the careful crafting of each individual piece, every
        step of our process adds up to one exceptional taste sensation.
      </p>
      <ul class="taste-list">
        <li class="taste-list-item">
          <img
            src="./img/taste/desktop/taste-chocolate-1x.png"
            alt=""
            class="taste-list-item-image"
          />
          <p class="taste-list-item-text">MILK CHOCOLATE</p>
        </li>
        <li class="taste-list-item border">
          <img
            src="./img/taste/desktop/taste-milk-1x.png"
            alt=""
            class="taste-list-item-image"
          />
          <p class="taste-list-item-text text">MILK</p>
        </li>
        <li class="taste-list-item">
          <img
            src="./img/taste/desktop/taste-nuts-1x.png"
            alt=""
            class="taste-list-item-image"
          />
          <p class="taste-list-item-text">NUTS</p>
        </li>

        <li class="taste-list-item border ">
          <img
            src="./img/taste/desktop/taste-cacao-1x.png"
            alt=""
            class="taste-list-item-image"
          />
          <p class="taste-list-item-text text">SEMI - SWEET CHOCOLATE</p>
        </li>
      </ul>
    </div>
  </section>