<div class="backdrop is-hidden" data-thank_you-modal>
    <div class="thank_you">
    <button class="thank_you_close_button" data-thank_you-modal-close>
        <svg class="thank_you_close_button_svg">
            <use href="./img/symbol-defs.svg#icon-close-btn"></use>
        </svg>
    </button>
    <h2 class="thank_you_tittle">
        thank you!
    </h2>
    <p class="thank_you_description">
        We are glad that you ordered our chocolate and we are giving you a 20% discount on all our products.
    </p>
    <img href="#" alt="beutifull and tasty chocolate">
    </div>
</div>