<div class="backdrop is-hidden" data-thank-you-modal>
    <div class="thank_you">
    <button class="thank_you_close_button" data-thank-you-modal-close>
        <svg class="thank_you_close_button_svg">
            <use href="./img/symbol-defs.svg#icon-btn-close"></use>
        </svg>
    </button>
    <div class="thank_you_div">
    <h2 class="thank_you_tittle">
        THANK YOU
FOR YOURS FEEDBACK!
    </h2>
    <p class="thank_you_description">
        We are so happy to hear<br> 
from you!
    </p>
</div>
    </div>
</div>