
<section class="top_sellers">
    <div class="container">
    <h2 class="headline"><span class="focus_span">tOp</span> Sellers</h2>
    <div  class="flex">
        <ul class="top_sellers_list">
            <li class="top_sellers_item">
                <img src="./img/top_sellers/desktop/top_first_1x.jpg" alt="tasty chocolate" class="top_sellers_img"
                srcset="
                ./img/top_sellers/desktop/top_first_1x.jpg 368w, ./img/top_sellers/desktop/top_first_2x.jpg 736w,
                ./img/top_sellers/tablet/top_first_1x.jpg 344w, ./img/top_sellers/tablet/top_first_2x.jpg 688w,
                ./img/top_sellers/phone/top_first_1x.jpg 335w, ./img/top_sellers/phone/top_first_2x.jpg 670w"
              sizes="(min-width: 1200px) 368wpx, (min-width: 768px) 344px, (max-width: 768px) 335px, 100vw" />
            </li>
            <li class="top_sellers_item">
                <img src="./img/top_sellers/desktop/top_first_1x.jpg" alt="tasty chocolate" class="top_sellers_img"
                srcset="
                ./img/top_sellers/desktop/top_second_1x.jpg 368w, ./img/top_sellers/desktop/top_second_2x.jpg 736w,
                ./img/top_sellers/tablet/top_second_1x.jpg 344w, ./img/top_sellers/tablet/top_second_2x.jpg 688w,
                ./img/top_sellers/phone/top_second_1x.jpg 335w, ./img/top_sellers/phone/top_second_2x.jpg 670w"
              sizes="(min-width: 1200px) 368wpx, (min-width: 768px) 344px, (max-width: 768px) 335px, 100vw" />
            </li>
            <li class="top_sellers_item">
                <img src="./img/top_sellers/desktop/top_first_1x.jpg" alt="tasty chocolate" class="top_sellers_img"
                srcset="
                ./img/top_sellers/desktop/top_third_1x.jpg 368w, ./img/top_sellers/desktop/top_third_2x.jpg 736w,
                ./img/top_sellers/tablet/top_third_1x.jpg 344w, ./img/top_sellers/tablet/top_third_2x.jpg 688w,
                ./img/top_sellers/phone/top_third_1x.jpg 335w, ./img/top_sellers/phone/top_third_2x.jpg 670w"
              sizes="(min-width: 1200px) 368wpx, (min-width: 768px) 344px, (max-width: 768px) 335px, 100vw" />
            </li>
        </ul>
    </div>
    <div class="flex">
        <p class="top_sellers_description">
            Crazy enough chocolate originates from a bean just like the coffee bean called Cacao. Cacao has been around for thousands of years and was first discovered by the Native American tribe called the Mayans.
        </p>
        <button class="top_sellers_button">Buy now</button>
    </div>
</div>
</section>
