<div>
    <h2><span>tOp</span> Sellers</h2>
    <div>
        <ul>
            <li>
                <img src="../img/top_sellers/desktop/top_first_1x.jpg" alt="tasty chocolate" class=""
                srcset="
                ./img/top_sellers/desktop/top_first_1x.jpg 368w, ./img/top_sellers/desktop/top_first_2x.jpg 736w,
                ./img/top_sellers/tablet/top_first_1x.jpg 344w, ./img/top_sellers/tablet/top_first_2x.jpg 688w,
                ./img/top_sellers/phone/top_first_1x.jpg 335w, ./img/top_sellers/phone/top_first_2x.jpg 670w"
              sizes="(min-width: 1200px) 368wpx, (min-width: 768px) 344px, (max-width: 768px) 335px, 100vw" />
            </li>
        </ul>
    </div>
</div>