.buy {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 311px;
    height: 1008px;
    overflow: hidden;
    background-color: #fff;
    @media (min-width: 768px) {
      width: 538px;
      height: 1058px;
    }
    &_div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border: 1px solid rgba(17, 17, 17, 0.1);
        border-radius: 15px;
        width: 230px;
        height: 256px;

        @media screen and (min-width: 768px) {
            width: 160px;
            height: 196px;
        }
    }

    &_button {
        border: 1px solid rgba(17, 17, 17, 0.1);
        border-radius: 100px;
        padding: 8px 27px;
        width: 96px;
        height: 33px;
    }

    &_img {
        width: 166px;
        height: 148px;
        margin-bottom: 16px;

        @media screen and (min-width: 768px) {
            width: 120px;
            height: 107px;
            margin-bottom: 14px;
        }
    }

    &_img-list {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        row-gap: 20px;

        @media screen and (min-width: 768px) {
            flex-direction: row;
            column-gap: 16px;
        }
    }

    &_form {
        margin-bottom: 18px;
    }

    &_sm_input {
        border: 1.50px solid rgba(17, 17, 17, 0.05);
        border-radius: 8px;
        padding: 13px 18px;
        width: 263px;
        height: 45px;

        @media screen and (min-width: 768px) {
            border-radius: 13px;
            padding: 22px 24px;
            width: 246px;
            height: 66px;
        }
    }

    &_input {
        border: 1.50px solid rgba(17, 17, 17, 0.05);
        border-radius: 8px;
        padding: 13px 18px;
        width: 263px;
        height: 45px;

        @media screen and (min-width: 768px) {
            border-radius: 13px;
            padding: 22px 24px;
            width: 513px;
            height: 66px;
        }
    }
}
.form_div{
    display: flex;
    flex-direction: column;
}