.explore{
    background-image:    url(../img/explore/background_mobile_1x.jpg) ;
background-repeat: no-repeat;
background-size: cover;
text-align: center;
padding: 20px;

   
}

.explore-title{
   padding: 15px;
    color: #ffffff;
    font-size: 20px;

}
.explore-text{
    margin-bottom: 15px;
    margin-top: 15px;
    color: #ffffff;
    font-size: 14px;
}

.explore-subscribe-button{
    padding: 10px;
    margin: 0 auto;
    display: block;
    margin-top: 37px;
    color: #ffffff;
    background-color: #FD9222;
    width: 128px;
    height: 41px;
    border-radius: 19px;
    gap: 14px;
}

.explore{
    padding-top: 20px;
    padding-bottom: 20px;
    
@media screen and (min-width: 375px) {
    padding-top: 20px;
    padding-bottom: 20px;
}

@media screen and (min-width: 768px) {
    padding-top: 24px;
    padding-bottom: 24px;
}

@media screen and (min-width: 1200px) {
    padding-top: 24px;
    padding-bottom: 24px;
}
}