.footer{
   margin: 15px;
    background-color: #1E1823;
   padding: 20px;
}


.footer-menu{
   margin: 10px;
    color: white;
}

.footer-contacts{
   
    color: white;
    font-size: 14px;
}

.footer-title{
    padding: 10px;
    margin-top: 10px;
    margin: 10px;
    color: white;
}

.footer-contacts-info{
    
    color: white;
}

.footer-social-nets{
    display: inline-block;
    margin: 0 10px;
    width: 58px;
    height: 26px;
    margin-left: auto;
 fill:white  ;
    
   
   
}

.footer-social-instagram{
  
    width: 58px;
    height: 26px;
    
}

.footer-social-twitter{
   
    width: 58px;
    height: 26px;
}

.footer-info-li{
    margin-bottom: 10px;
}

.footer{
    padding-top: 32px;
    padding-bottom: 32px;
    
@media screen and (min-width: 375px) {
    padding-top: 20px;
    padding-bottom: 20px;
}

@media screen and (min-width: 768px) {
    padding-top: 50px;
    padding-bottom: 50px;
}

}

.footer-contacts-box{
    padding: 20px;
   
}


