.footer{
   margin: 15px;
    background-color: #1E1823;
   padding: 20px;
}


.footer-menu{
   
    color: white;
}

.footer-contacts{
   
    color: white;
    font-size: 14px;
}

.footer-title{
    
    color: white;
}

.footer-contacts-info{
    
    color: white;
}

.footer-social-nets{
    margin: 10px;
    width: 58px;
    height: 26px;
    margin-left: auto;
 fill:white  ;
    
   
   
}

.footer-social-instagram{
   
    width: 58px;
    height: 26px;
    
}

.footer-social-twitter{
    width: 58px;
    height: 26px;
}

.footer-info-li{
    margin-bottom: 10px;
}

