.footer{
   
    background-color: #1E1823;
    display: flex;
}
.container{
    width: 375px;
    height: 440px;
}

.footer-menu{
    margin-top: 85px;
    color: white;
}

.footer-contacts{
    margin-top: 7px;
    color: white;
    font-size: 14px;
}

.footer-title{
    color: white;
}

.footer-contacts-info{
    margin-top: 20px;
    color: white;
}

.footer-social-nets{
    width: 58px;
    height: 26px;
    margin-left: auto;
 fill:white  ;
    
   
   
}

.footer-social-instagram{
   
    width: 58px;
    height: 26px;
    
}

.footer-social-twitter{
    width: 58px;
    height: 26px;
}

.footer-info-li{
    margin-bottom: 10px;
}

