.hero{
    padding-bottom: 72px;
    color: $hoverColor;
    
    @media screen and (min-width: 768px) {
        padding-bottom: 50px;  
    }
    
    @media screen and (min-width: 1200px) {
        padding-top: 32px;
        padding-bottom: 72px;
    }
}

.hero-container-background{
    display: flex;
    align-content: flex-end;
    width: 335px;
    height: 620px;
    padding: 20px;
    flex-wrap: wrap;
    background-image: url(../img/hero/mobile/mobile-hero-background@1x.jpg);
    background-repeat: no-repeat;
    border-radius: 30px;

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(../img/hero/mobile/mobile-hero-background@2x.jpg);
  }

  @media screen and (min-width: 768px) {
    width: 704px;
    height: 890px;
    border-radius: 30px;
    padding: 40px;
    background-image: url(../img/hero/tablet/tablet-hero-background@1x.jpg);
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../img/hero/tablet/tablet-hero-background@2x.jpg);
    }
  }

  @media screen and (min-width: 1200px) {
    width: 1136px;
    height: 600px;
    border-radius: 30px;
    background-image: url(../img/hero/desktop/hero-background@1x.jpg);
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../img/hero/desktop/hero-background@2x.jpg);
    }
  }
}

.chocolate-text-button{
    width: 299px;

    @media screen and (min-width: 768px) {
        width: 624px;
    }

    @media screen and (min-width: 1200px) {
        width: 1056px;
    }
}

.chocolate-tittle{
    text-align: start;
    max-width: 280px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: -.03em;
    color: $hoverColor;
    margin-bottom: 32px;
    
    @media screen and (min-width: 768px) {
        min-height: auto;
        font-weight: 500;
        font-size: 28px;
        line-height: 120%;
        letter-spacing: -0.03em;
        color: #fff;
        width: 484px;
        margin-bottom: 32px;
        max-width: 484px;
    }
}

.chocolate-button-scroll-down{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 32px;
}

.chocolate-button{
    display: flex;
    min-width: 120px;
    gap: 32px 14px;
}

.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    width: 144px;
    height: 45px;
    color: $focusColor;
}

.button-hero-chocolate-one{
    border-radius: 100px;
    width: 122px;
    height: 45px;
    background-color: $focusColor;
    color: #fff;
}
.button-hero-chocolate-one:hover {
    @extend %transition;
    background-color: $hoverColor;
    color: $focusColor;
    border: 1px solid $focusColor;
}

.buttons-two{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #fff;
    border-radius: 100px;
    padding: 2px 30px;
    width: 183px;
    height: 45px;

    @media screen and (min-width: 768px){
        min-width: 183px;
    }
}
.buttons-two:hover {
    @extend %transition;
    background-color: $hoverColor;
    color: $focusColor;
    border: 1px solid $focusColor;
}
.button-hero-chocolate-two{
    color: #fff;
}
.button-hero-chocolate-two:hover{
    color: $focusColor;
}

.scroll-button{
    display: flex;
    gap: 12px;
    align-items: center;

    @media screen and (min-width: 768px) {
          height: 38px;
          margin-left: auto;
}
}

.scroll-button:hover{
    @extend %transition;
    color: $focusColor;
}

.scroll-container{
    background-color: white;
    border-radius: 50%;
    width: 28px;
    height: 28px;
}

.scroll-container:hover{
    background-color: $focusColor;
}

.scroll-icon{
    width: 28px;
    height: 28px;
  }

.scroll-icon:hover{
    fill: #fff;
    color: #fff;
}

.small-icon-down:hover{
    fill: #fff;
}

.small-icon-down{
    fill: orange;
}