.hero{
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 72px;
    color: $hoverColor;
}

@media screen and (min-width: 768px) {
    .hero {
      padding-right: 32px;
      padding-left: 32px;
      padding-bottom: 50px;
    }
}

.hero-image{
    border-radius: 30px;
    width: 1136px;
}

.chocolate-tittle{
    text-align: start;
    max-width: 280px;
    font-weight: 500;
    font-size: 28px;
    line-height: 1.2;
    letter-spacing: -.03em;
    color: $hoverColor;
}

.buttons{
    
}

.button-hero-chocolate-one{
    color: #fff;
}

.button-hero-chocolate-two{
    color: #fff;
}

.hero-container-background{
    display: flex;
    align-items: flex-end;
    width: 1136px;
    height: 600px;
    background-image: url(../img/hero/mobile/mobile-hero-background@1x.jpg);
    background-repeat: no-repeat;

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(../img/hero/mobile/mobile-hero-background@2x.jpg);
  }

  @media screen and (min-width: 768px) {
    padding: 40px;
    background-image: url(../img/hero/tablet/tablet-hero-background@1x.jpg);
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../img/hero/tablet/tablet-hero-background@2x.jpg);
    }
  }

  @media screen and (min-width: 1200px) {
    border-radius: 30px;
    background-image: url(../img/hero/desktop/hero-background@1x.jpg);
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../img/hero/desktop/hero-background@2x.jpg);
    }
  }
}

.chocolate-text-button{
    width: 404px;
}

.chocolate-button{
    display: flex;
}

@media screen and (min-width: 375px) {
    .chocolate-tittle {
      padding-top: 390px;
      min-height: auto;
      font-weight: 500;
      font-size: 28px;
      line-height: 121%;
      letter-spacing: -0.03em;
      color: #fff;
    }

    .chocolate-button {
      min-width: 120px;
    }

    .buttons-two {
      min-width: 160px;
    }

    .chocolate-button{
      gap: 32px 14px;
    }
  }

.scroll-button{
    margin-left: auto;
}

@media screen and (min-width: 768px) {
    .chocolate-tittle{
        max-width: 484px;
        font-size: 28px;
        line-height: 1.21;
    }
}

@media screen and (min-width: 768px) {
    .hero {
      padding-right: 32px;
      padding-left: 32px;
      padding-bottom: 50px;
    }
    .chocolate-tittle {
      max-width: 484px;
      padding-top: 670px;
      font-size: 28px;
    }
    .button {
      min-width: 144px;
    }
    .buttons-two{
      padding-top: 15px;
      min-width: 183px;
    }
    .scroll-button {
      width: 38px;
      height: 38px;
    }
    .scroll-icon {
      width: 16px;
      height: 16px;
    }
}