.made {
  padding-bottom: 20px;
  @media (min-width: 768px) {
    padding-bottom: 32px;
  }
  @media (min-width: 1200px) {
    padding-bottom: 36px;
  }
  &-box{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &-title {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    text-align: center;
    color: #111;
    margin-bottom: 32px;
  }
  &-title-designe {
    color: $focusColor;
  }
  &-box-item {
    display: flex;
    flex-direction: column;
    padding: 20px 10px 20px 18px;
    background-color: white;
    width: 336px;
    border-radius: 15px;
    @media (min-width: 768px) {
      width: 614px;
    }
    @media (min-width: 1200px) {
      width: 516px;
    }
  }
  &-box-video{
    margin-bottom: 20px;
    @media (min-width: 768px) {
      margin-bottom: 20px;
    }
    @media (min-width: 1200px) {
      margin-bottom: 20px;
    }
  }
  &-video {
    border-radius: 15px;
    width: 335px;
    height: 500px;
    margin-bottom: 20px;
    @media (min-width: 768px) {
      width: 614px;
      height: 400px;
    }
    @media (min-width: 1200px) {
      width: 600px;
      height: 400px;
      margin-right: 20px;
    }
  }
  &-box-title {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 18px;
    line-height: 133%;
    color: #111;
    margin-bottom: 20px;
    @media (min-width: 768px) {
      margin-bottom: 28px;
    }
  }
  &-list {
    list-style-type: disc;
    display: flex;
    flex-wrap: wrap;
    gap: 18px;
  }
  &-text {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 129%;
    letter-spacing: -0.02em;
    color: #111;
  }
}
